bin/AWS/AWS.SessionProvider.xml
src/fdServer/Web.config
src/fdServer/Web.Release.config
src/fdServer/Web.Debug.config
src/fdLibrary/obj/
*.user
*.suo
src/fdServer/obj/
src/fdServer/packages/
src/fdConsole/obj/
bin/AWS/AWSSDK.xml
bin/AWS/AWS.TraceListener.xml
src/ofgServer/bin/
src/ofgLibrary/obj/
src/ofgLibrary/bin/
src/ofgServer/obj/
src/ofgConsole/obj/
src/ofgConsole/bin/
*.config
