<div class="adduser-container" ng-controller="FormTemplateCtrl as ftCtrl">
    <div class="alert alert-danger" ng-bind="ftCtrl.errorMessage" ng-show="ftCtrl.errorMessage">
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="card ft-card">
                <div class="ft-form">
                    <form name="ftForm" ng-submit="ftCtrl.saveFormTemplate()" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" 
                                   ng-model="ftCtrl.item.Name"
                                   class="form-control"
                                   id="name"
                                   placeholder="Enter Template Name"
                                   required="">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" 
                                   ng-model="ftCtrl.item.Description"
                                   class="form-control"
                                   id="description"
                                   placeholder="Enter Template Description"
                                   required="">
                        </div>  
                        <div class="form-group">
                            <label for="formsubject">Form Subject</label>
                            <select id="formsubject" 
                                    class="form-control"
                                    ng-model="ftCtrl.item.FormSubject" 
                                    ng-options="nvp.Value as nvp.Name for nvp in ftCtrl.formSubjects">
                                <option value="">-- choose type --</option>
                            </select>
                        </div>  
                        <input type="submit"
                               class="btn btn-success btn-sm"
                               value="Save"
                               ng-disabled="ftForm.$invalid">
                    </form>
                    <div class="row">
                        <div class="col-md-10 col-xs-8">
                            <h3>Questions</h3>
                        </div>
                        <div class="col-md-2 col-xs-4">
                            <a class="btn btn-default btn-sm" href="#/question">Add Question</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="width: 100px; ">Action</th>
                                            <th style="width: 100px; ">Type</th>
                                            <th style="min-width: 80px;">Text</th>
                                            <th style="min-width: 120px;">Description</th>
                                            <th style="width: 100px;">Required</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="question in data.item.Questions">
                                            <td><a class="btn btn-default btn-sm" href="#/question/{{ question.Guid }}">Edit</a></td>
                                            <td>{{ question.QuestionType }}</td>
                                            <td>{{ question.Text }}</td>
                                            <td>{{ question.IsRequired }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
